.clear {
	CLEAR: both
}
.wrap {
	BACKGROUND: #ffffff; MARGIN: 0px auto; WIDTH: 962px
}
.left {
	FLOAT: left; MARGIN: 0px 5px; WIDTH: 180px
}
.right {
	MARGIN-LEFT: 210px
}
.left_div_yellow1 {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; MARGIN-BOTTOM: 10px; PADDING-BOTTOM: 12px; WIDTH: 168px; PADDING-TOP: 15px
}
.left_div_yellow2 {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; MARGIN-BOTTOM: 10px; PADDING-BOTTOM: 12px; WIDTH: 168px; PADDING-TOP: 15px
}
.left_div_gray {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; MARGIN-BOTTOM: 10px; PADDING-BOTTOM: 12px; WIDTH: 168px; PADDING-TOP: 15px
}
.left_div_yellow1 {
	BORDER-RIGHT: #f4e9cc 1px solid; BORDER-TOP: #f4e9cc 1px solid; BACKGROUND: #fef8e8; BORDER-LEFT: #f4e9cc 1px solid; BORDER-BOTTOM: #f4e9cc 1px solid
}
.left_div_yellow2 {
	BORDER-RIGHT: #f4e9cc 1px solid; BORDER-TOP: #f4e9cc 1px solid; BACKGROUND: #faf0d4; BORDER-LEFT: #f4e9cc 1px solid; BORDER-BOTTOM: #f4e9cc 1px solid
}
.left_div_gray {
	BORDER-RIGHT: #d3d3d3 1px solid; BORDER-TOP: #d3d3d3 1px solid; BACKGROUND: #f2f2f3; BORDER-LEFT: #d3d3d3 1px solid; BORDER-BOTTOM: #d3d3d3 1px solid
}
.shuming {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; MARGIN-BOTTOM: 7px; PADDING-BOTTOM: 0px; WIDTH: 740px; COLOR: #404040; PADDING-TOP: 0px; BORDER-BOTTOM: #d3d3d3 2px solid; POSITION: relative
}
.shuming_left {
	FLOAT: left; WIDTH: 665px; MARGIN-RIGHT: 5px
}
.book_case {
	BACKGROUND: url(../images/bookcase_put_in.gif) no-repeat 585px top; FLOAT: left; PADDING-BOTTOM: 3px; WIDTH: 740px; LINE-HEIGHT: 22px; HEIGHT: 21px
}
.book_case .put_book {
	DISPLAY: block; FLOAT: right
}
.book_case .seriesname {
	FLOAT: left
}
.book_left {
	PADDING-LEFT: 10px; FLOAT: left; WIDTH: 170px; TEXT-ALIGN: left
}
.book_left IMG {
	BORDER-RIGHT: #404040 1px solid; BORDER-TOP: #404040 1px solid; BORDER-LEFT: #404040 1px solid; BORDER-BOTTOM: #404040 1px solid
}
.book_right {
	MARGIN-LEFT: 180px; COLOR: #404040; LINE-HEIGHT: 18px; PADDING-TOP: 5px
}
.list_book {
	CLEAR: both; WIDTH: 100%
}
.chakan {
	PADDING-LEFT: 30px; PADDING-TOP: 2px
}
.chakan IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
.book_right UL {
	WIDTH: 567px
}
.book_right UL LI {
	FLOAT: left; WIDTH: 283px
}
.jiage {
	MARGIN: 23px 0px 30px; COLOR: #404040; FONT-FAMILY: "ו",Arial, Helvetica, sans-serif
}
.jiage IMG {
	MARGIN-RIGHT: 2px
}
.goumai {
	MARGIN: 6px 0px 9px
}
.right_content {
	MARGIN: 0px 20px 30px 14px; COLOR: #666666; LINE-HEIGHT: 20px
}
.top {
	TEXT-ALIGN: right
}
.left_title {
	PADDING-LEFT: 5px; FONT-SIZE: 14px; BACKGROUND: url(../images/more1_top.gif) repeat-x 50% bottom; MARGIN-BOTTOM: 6px; PADDING-BOTTOM: 4px; COLOR: #853200
}
.black000 {
	DISPLAY: block; FONT-WEIGHT: bold; FONT-SIZE: 16px; MARGIN-BOTTOM: 9px; COLOR: #000
}
.del {
	COLOR: #404040; FONT-FAMILY: "ו",Arial, Helvetica, sans-serif; TEXT-DECORATION: line-through
}
.redc30 {
	COLOR: #c30
}
.black14 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; MARGIN: 7px 0px 25px; COLOR: #404040
}
.black14 IMG {
	MARGIN-BOTTOM: 3px
}
.right_title1 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; MARGIN: 7px 0px 25px; COLOR: #404040
}
.right_title1 IMG {
	MARGIN-BOTTOM: 3px
}
.blue12a:link {
	FONT-SIZE: 12px; COLOR: #1a66b3; TEXT-DECORATION: none
}
.blue12a:visited {
	FONT-SIZE: 12px; COLOR: #1a66b3; TEXT-DECORATION: none
}
.blue12a:hover {
	COLOR: #1a66b3; TEXT-DECORATION: underline
}
.gray666a:link {
	FONT-SIZE: 12px; COLOR: #666; TEXT-DECORATION: none
}
.gray666a:visited {
	FONT-SIZE: 12px; COLOR: #666; TEXT-DECORATION: none
}
.gray878787a:link {
	FONT-SIZE: 12px; COLOR: #878787; TEXT-DECORATION: none
}
.gray878787a:visited {
	FONT-SIZE: 12px; COLOR: #878787; TEXT-DECORATION: none
}
.black404040a:link {
	FONT-SIZE: 12px; COLOR: #404040; TEXT-DECORATION: none
}
.black404040a:visited {
	FONT-SIZE: 12px; COLOR: #404040; TEXT-DECORATION: none
}
.gray666a:hover {
	TEXT-DECORATION: underline
}
.gray878787a:hover {
	TEXT-DECORATION: underline
}
.black404040a:hover {
	TEXT-DECORATION: underline
}
H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; TEXT-ALIGN: left
}
H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; TEXT-ALIGN: left
}
H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; TEXT-ALIGN: left
}
.list_title H3 {
	FONT-WEIGHT: bold; WIDTH: 400px
}
.a_message H3 {
	FONT-WEIGHT: bold; WIDTH: 400px
}
.dashed {
	FONT-SIZE: 0px; BACKGROUND: url(../images/xuxian_x.gif) repeat-x; LINE-HEIGHT: 1px; HEIGHT: 1px
}
.qx_xuxian {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.nostyle {
	LIST-STYLE-TYPE: none
}
.left_div_yellow1 UL LI {
	PADDING-TOP: 6px; LIST-STYLE-TYPE: none; HEIGHT: 16px
}
.left_div_yellow2 UL LI {
	PADDING-TOP: 6px; LIST-STYLE-TYPE: none; HEIGHT: 16px
}
.left_div_gray UL LI {
	PADDING-TOP: 6px; LIST-STYLE-TYPE: none; HEIGHT: 16px
}
.left_div_yellow2 H3 {
	PADDING-LEFT: 15px; BACKGROUND: url(../images/bg_point3.gif) no-repeat 0px 50%; MARGIN-LEFT: 5px; COLOR: #404040; PADDING-TOP: 6px; HEIGHT: 16px
}
.left_div_yellow2 UL {
	PADDING-LEFT: 15px; WIDTH: 142px; LIST-STYLE-TYPE: none
}
.empty_box {
	CLEAR: both; OVERFLOW: hidden; LINE-HEIGHT: 1px; HEIGHT: 1px
}
.lineheight14 {
	LINE-HEIGHT: 14px; HEIGHT: 14px
}
.xiangguan_bottom {
	CLEAR: both; BACKGROUND: url(../images/x.gif) repeat-x; WIDTH: 233px; HEIGHT: 8px; TEXT-ALIGN: left
}
.xiangguan_top {
	CLEAR: both; BACKGROUND: url(../images/s.gif) repeat-x; WIDTH: 233px; HEIGHT: 4px; TEXT-ALIGN: left
}
.xiangguan_bg {
	BACKGROUND: url(../images/bg_xiangguan.gif) repeat-y; WIDTH: 233px
}
.xiangguan_title {
	FONT-SIZE: 14px; MARGIN: 0px 14px 5px 12px; COLOR: #4b5f22; PADDING-TOP: 7px; BORDER-BOTTOM: #8b8b8b 1px solid
}
.xiangguan_bg UL {
	PADDING-RIGHT: 14px; PADDING-LEFT: 12px; PADDING-BOTTOM: 0px; WIDTH: 205px; PADDING-TOP: 0px
}
.xiangguan_bg UL LI {
	BACKGROUND: url(../images/xuxian_x.gif) repeat-x 50% bottom; COLOR: #1a66b3; PADDING-TOP: 2px
}
.xiangguan_more {
	PADDING-RIGHT: 14px; PADDING-LEFT: 12px; PADDING-BOTTOM: 0px; WIDTH: 205px; PADDING-TOP: 3px; TEXT-ALIGN: right
}
.point {
	PADDING-RIGHT: 4px; COLOR: #1a66b3
}
.pot {
	LETTER-SPACING: -3px
}
.left_div_yellow1 H3 {
	PADDING-TOP: 6px; HEIGHT: 16px
}
.tuwen {
	PADDING-RIGHT: 4px; PADDING-LEFT: 2px; BACKGROUND: #fff; PADDING-BOTTOM: 2px; PADDING-TOP: 8px; HEIGHT: 80px
}
.tuwen_left {
	FLOAT: left; WIDTH: 65px; TEXT-ALIGN: center
}
.tuwen_left IMG {
	BORDER-RIGHT: #404040 1px solid; BORDER-TOP: #404040 1px solid; BORDER-LEFT: #404040 1px solid; BORDER-BOTTOM: #404040 1px solid
}
.tuwen_right A {
	LINE-HEIGHT: 16px
}
.tuwen_right {
	MARGIN-LEFT: 65px; WORD-WRAP: break-word
}
.ptop3 {
	PADDING-TOP: 4px
}
.pot {
	LETTER-SPACING: -3px
}
.right_wai {
	FLOAT: left; MARGIN-BOTTOM: 20px; WIDTH: 750px
}
