* {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
BODY {
	PADDING-RIGHT: 8px; PADDING-LEFT: 10px; FONT-SIZE: 12px; BACKGROUND: #fff; PADDING-BOTTOM: 0px; MARGIN: auto; WIDTH: 985px; COLOR: #414141; PADDING-TOP: 0px; FONT-FAMILY: "ו", Arial, Helvetica, sans-serif
}
INPUT {
	FONT-SIZE: 12px; VERTICAL-ALIGN: middle
}
A:link {
	COLOR: #0041d3; TEXT-DECORATION: none
}
A:visited {
	COLOR: #0041d3; TEXT-DECORATION: none
}
A:hover {
	COLOR: #ff7000; TEXT-DECORATION: underline
}
A:active {
	COLOR: #bc2931; TEXT-DECORATION: underline
}
.t1 A:link {
	COLOR: #0041d3; TEXT-DECORATION: underline
}
.t1 A:visited {
	COLOR: #0041d3; TEXT-DECORATION: underline
}
.t1 A:hover {
	COLOR: #ff7000; TEXT-DECORATION: underline
}
.t1 A:active {
	COLOR: #bc2931; TEXT-DECORATION: underline
}
.red_bold {
	FONT-WEIGHT: bold; COLOR: #ff0000
}
.red {
	COLOR: #ff0000
}
.price_old {
	TEXT-DECORATION: line-through
}
.button_1 {
	WIDTH: 80px; PADDING-TOP: 2px; HEIGHT: 22px
}
.login_top {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 7px; MARGIN: auto; WIDTH: 982px; PADDING-TOP: 10px; BORDER-BOTTOM: #f27b21 3px solid; HEIGHT: 43px
}
.login_top .logo {
	FLOAT: left
}
.login_top .new_help {
	FLOAT: right; COLOR: #9b9b9b; PADDING-TOP: 28px
}
.login_step {
	FONT-SIZE: 14px; PADDING-TOP: 30px; HEIGHT: 30px; TEXT-ALIGN: center
}
.login_step .step {
	FLOAT: left; WIDTH: 830px; PADDING-TOP: 5px
}
.login_step .email_help {
	PADDING-LEFT: 16px; FONT-SIZE: 12px; BACKGROUND: url(../images/label_what.gif) no-repeat left top; FLOAT: right; WIDTH: 120px; PADDING-TOP: 5px; HEIGHT: 16px; TEXT-ALIGN: right
}
.fill_message {
	PADDING-BOTTOM: 35px; MARGIN: auto; WIDTH: 758px
}
.fill_message H2 {
	FONT-SIZE: 14px; PADDING-BOTTOM: 10px; COLOR: #ff0000
}
.fill_message .tab_login {
	WIDTH: 758px; BORDER-COLLAPSE: collapse
}
.fill_message .tab_login TD {
	BORDER-RIGHT: #dadada 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #dadada 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 13px; BORDER-LEFT: #dadada 1px solid; PADDING-TOP: 15px; BORDER-BOTTOM: #dadada 1px solid
}
.fill_message .tab_login .w1 {
	PADDING-RIGHT: 0px; FONT-SIZE: 14px; WIDTH: 160px; BACKGROUND-COLOR: #e8fbff; TEXT-ALIGN: right
}
.fill_message .tab_login .change_c {
	BACKGROUND-COLOR: #ffece8
}
.fill_message .tab_login .text_input {
	BORDER-RIGHT: #a8a6ab 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #a8a6ab 1px solid; PADDING-LEFT: 1px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN-LEFT: 20px; BORDER-LEFT: #a8a6ab 1px solid; WIDTH: 170px; PADDING-TOP: 3px; BORDER-BOTTOM: #a8a6ab 1px solid; HEIGHT: 17px
}
.fill_message .tab_login .yzm_img {
	FLOAT: left; MARGIN-LEFT: 20px; WIDTH: 100px; HEIGHT: 30px
}
.fill_message .tab_login .yzm_input {
	BORDER-RIGHT: #a8a6ab 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #a8a6ab 1px solid; PADDING-LEFT: 1px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN-LEFT: 15px; BORDER-LEFT: #a8a6ab 1px solid; WIDTH: 54px; PADDING-TOP: 3px; BORDER-BOTTOM: #a8a6ab 1px solid; HEIGHT: 17px
}
.fill_message .tab_login .text_left {
	PADDING-LEFT: 20px; FLOAT: left; WORD-BREAK: break-all
}
.fill_message .tab_login .change_red {
	COLOR: #ff0000
}
.fill_message .tab_login .text_left P {
	WORD-BREAK: break-all; PADDING-TOP: 3px
}
.fill_message .agree {
	PADDING-LEFT: 280px; WIDTH: 450px; PADDING-TOP: 30px; HEIGHT: 38px
}
.fill_message .agree INPUT {
	FLOAT: left; WIDTH: 20px; HEIGHT: 20px
}
.fill_message .agree SPAN {
	PADDING-LEFT: 7px; FLOAT: left; WIDTH: 400px; PADDING-TOP: 5px
}
.fill_message .login_in {
	PADDING-LEFT: 282px; HEIGHT: 30px
}
.validate_email {
	PADDING-BOTTOM: 50px; MARGIN: auto; WIDTH: 780px; PADDING-TOP: 10px
}
.validate_addtop {
	PADDING-TOP: 35px
}
.validate_email H2 {
	FONT-SIZE: 14px; PADDING-BOTTOM: 7px
}
.validate_email H3 {
	PADDING-LEFT: 140px; FONT-SIZE: 14px; PADDING-BOTTOM: 7px
}
.validate_email .look_email {
	PADDING-RIGHT: 0px; BORDER-TOP: #bfbfbf 1px solid; PADDING-LEFT: 140px; FONT-SIZE: 14px; BACKGROUND: url(../images/email.jpg) no-repeat 7px 55px; PADDING-BOTTOM: 0px; PADDING-TOP: 40px; HEIGHT: 190px
}
.validate_email .look_email H4 {
	FONT-SIZE: 14px
}
.validate_email .look_email .mess {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 5px; PADDING-TOP: 18px; HEIGHT: 26px
}
.validate_email .look_email .reduce_h {
	HEIGHT: 40px
}
.validate_email .look_email .mess .write_in {
	FLOAT: left; PADDING-TOP: 3px
}
.validate_email .look_email .mess .yzm_text {
	BORDER-RIGHT: #a6a6a8 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #a6a6a8 1px solid; PADDING-LEFT: 1px; FLOAT: left; PADDING-BOTTOM: 0px; BORDER-LEFT: #a6a6a8 1px solid; WIDTH: 82px; PADDING-TOP: 3px; BORDER-BOTTOM: #a6a6a8 1px solid; HEIGHT: 16px
}
.validate_email .look_email .mess .finsh {
	FONT-SIZE: 14px; FLOAT: left; MARGIN-LEFT: 5px; WIDTH: 78px; PADDING-TOP: 1px; HEIGHT: 22px
}
.validate_email .look_email .mess .no_right {
	PADDING-RIGHT: 0px; PADDING-LEFT: 22px; BACKGROUND: url(../images/label1.gif) no-repeat left 3px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN-LEFT: 10px; WIDTH: 140px; COLOR: #ff0000; PADDING-TOP: 3px; HEIGHT: 20px
}
.validate_email .look_email .add_b {
	PADDING-BOTTOM: 35px
}
.validate_email .not_receive {
	PADDING-RIGHT: 0px; BORDER-TOP: #bfbfbf 1px solid; PADDING-LEFT: 140px; PADDING-BOTTOM: 0px; PADDING-TOP: 30px; HEIGHT: 255px
}
.validate_email .del_t {
	BORDER-TOP-STYLE: none; PADDING-TOP: 20px
}
.validate_email .e_modify {
	FONT-SIZE: 14px; HEIGHT: 36px
}
.validate_email .newadd_text {
	FONT-SIZE: 12px; PADDING-BOTTOM: 20px; LINE-HEIGHT: 18px
}
.validate_email .e_modify .t_span {
	FLOAT: left; PADDING-TOP: 3px
}
.validate_email .e_modify .text_e {
	BORDER-RIGHT: #a6a6a8 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #a6a6a8 1px solid; PADDING-LEFT: 1px; FLOAT: left; PADDING-BOTTOM: 0px; BORDER-LEFT: #a6a6a8 1px solid; WIDTH: 174px; PADDING-TOP: 3px; BORDER-BOTTOM: #a6a6a8 1px solid; HEIGHT: 16px
}
.validate_email .e_modify .text_b {
	FONT-SIZE: 14px; FLOAT: left; MARGIN-LEFT: 10px; WIDTH: 70px; PADDING-TOP: 1px; HEIGHT: 22px
}
.validate_email .notice_1 {
	BORDER-RIGHT: #00be00 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #00be00 1px solid; PADDING-LEFT: 38px; BACKGROUND: url(../images/label2.gif) #e7ffe7 no-repeat 8px 6px; PADDING-BOTTOM: 0px; BORDER-LEFT: #00be00 1px solid; WIDTH: 392px; LINE-HEIGHT: 16px; PADDING-TOP: 7px; BORDER-BOTTOM: #00be00 1px solid; HEIGHT: 35px
}
.validate_email .notice_2 {
	BORDER-RIGHT: #ff5700 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #ff5700 1px solid; MARGIN-TOP: 15px; PADDING-LEFT: 38px; BACKGROUND: url(../images/label1.gif) #ffede3 no-repeat 8px 6px; PADDING-BOTTOM: 0px; BORDER-LEFT: #ff5700 1px solid; WIDTH: 397px; COLOR: #fa0404; PADDING-TOP: 7px; BORDER-BOTTOM: #ff5700 1px solid; HEIGHT: 18px
}
.validate_email .e_back {
	FONT-SIZE: 14px; PADDING-TOP: 20px; HEIGHT: 20px
}
.validate_success {
	BORDER-RIGHT: #499f3c 1px solid; PADDING-RIGHT: 6px; BORDER-TOP: #499f3c 1px solid; PADDING-LEFT: 6px; PADDING-BOTTOM: 6px; MARGIN: 50px auto; BORDER-LEFT: #499f3c 1px solid; WIDTH: 350px; PADDING-TOP: 6px; BORDER-BOTTOM: #499f3c 1px solid; BACKGROUND-COLOR: #e8ffe3
}
.validate_success H4 {
	PADDING-LEFT: 35px; FONT-SIZE: 14px; BACKGROUND: url(../images/label3.gif) no-repeat left 5px; PADDING-TOP: 12px; BORDER-BOTTOM: #879e82 1px dashed; HEIGHT: 23px
}
.validate_success H5 {
	PADDING-LEFT: 35px; FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-TOP: 15px
}
.validate_success UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 35px; PADDING-BOTTOM: 0px; LINE-HEIGHT: 18px; PADDING-TOP: 10px; LIST-STYLE-TYPE: none
}
.validate_success UL LI {
	PADDING-LEFT: 12px; BACKGROUND: url(../images/bj_d_black.gif) no-repeat 3px 7px
}
.validate_success UL .no_bj {
	PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%
}
.validate_fail {
	BORDER-RIGHT: #968e8c 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #968e8c 1px solid; PADDING-LEFT: 110px; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: url(../images/label4.gif) #ffece8 no-repeat 80px 20px; PADDING-BOTTOM: 0px; MARGIN: 50px auto; BORDER-LEFT: #968e8c 1px solid; WIDTH: 205px; COLOR: #fa0404; PADDING-TOP: 25px; BORDER-BOTTOM: #968e8c 1px solid; HEIGHT: 45px
}
.login_success {
	BACKGROUND: url(../images/login_bj1.gif) no-repeat 50% bottom; PADDING-BOTTOM: 9px; MARGIN: 15px auto 20px; WIDTH: 489px
}
.login_success .login_bj {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; BACKGROUND: url(../images/login_bj2.gif) repeat-y; PADDING-BOTTOM: 6px; PADDING-TOP: 6px
}
.login_success .login_bj .succ {
	PADDING-LEFT: 35px; BACKGROUND: url(../images/label3.gif) no-repeat left top; BORDER-BOTTOM: #879e82 1px dashed; HEIGHT: 35px
}
.login_success .login_bj H5 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 35px; FONT-SIZE: 14px; PADDING-BOTTOM: 0px; PADDING-TOP: 12px; HEIGHT: 25px
}
.login_success .login_bj H6 {
	PADDING-LEFT: 35px; FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 15px
}
.login_success .login_bj UL {
	PADDING-LEFT: 35px; LINE-HEIGHT: 18px; LIST-STYLE-TYPE: none
}
.login_success .login_bj UL LI {
	DISPLAY: block; PADDING-LEFT: 12px; BACKGROUND: url(../images/bj_d_black.gif) no-repeat 3px 7px
}
.login_success .login_bj UL .nobj {
	PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM: #e4f8e3 1px solid
}
.skim {
	PADDING-RIGHT: 25px; PADDING-LEFT: 25px; PADDING-BOTTOM: 0px; MARGIN: auto auto 10px; WIDTH: 932px; PADDING-TOP: 12px; BACKGROUND-COLOR: #eaeaea
}
.skim H2 {
	FONT-SIZE: 14px
}
.skim .merch {
	PADDING-LEFT: 62px
}
.skim .merch .m_list {
	PADDING-RIGHT: 60px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 13px; WIDTH: 112px; PADDING-TOP: 12px; HEIGHT: 187px
}
.skim .merch .m_list IMG {
	BORDER-RIGHT: #b3b3b3 1px solid; BORDER-TOP: #b3b3b3 1px solid; BORDER-LEFT: #b3b3b3 1px solid; BORDER-BOTTOM: #b3b3b3 1px solid
}
.skim .merch .m_list H6 {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; LINE-HEIGHT: 16px; PADDING-TOP: 8px; HEIGHT: 32px
}
.skim .merch .m_list P {
	PADDING-TOP: 4px
}
.skim .merch .empty_box {
	CLEAR: left
}
.enter_part {
	PADDING-BOTTOM: 45px; MARGIN: auto; WIDTH: 760px; PADDING-TOP: 15px; HEIGHT: 360px
}
.enter_part .introduce {
	MARGIN-TOP: 65px; FLOAT: left; WIDTH: 430px; HEIGHT: 180px
}
.enter_part .introduce IMG {
	MARGIN-BOTTOM: 10px
}
.enter_part .introduce UL {
	PADDING-RIGHT: 0px; BORDER-TOP: #bab9b9 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 0px; LINE-HEIGHT: 18px; PADDING-TOP: 10px; LIST-STYLE-TYPE: none
}
.enter_part .introduce UL LI {
	PADDING-LEFT: 12px; BACKGROUND: url(../images/bj_d_black.gif) no-repeat left 7px
}
.enter_part .introduce UL .bj_none {
	BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 15px; COLOR: #757575
}
.enter_part .enter_in {
	BACKGROUND: url(../images/bj_enter_bottom.gif) no-repeat 50% bottom; FLOAT: right; WIDTH: 279px; HEIGHT: 340px
}
.enter_part .enter_in .bj_top {
	BACKGROUND: url(../images/bj_enter_top.gif) no-repeat; OVERFLOW: hidden; WIDTH: 279px; HEIGHT: 8px
}
.enter_part .enter_in .center {
	BORDER-RIGHT: #7a7977 1px solid; MARGIN: auto; BORDER-LEFT: #7a7977 1px solid; WIDTH: 275px; HEIGHT: 324px; BACKGROUND-COLOR: #f9f9f9
}
.enter_part .enter_in .center .notice {
	PADDING-RIGHT: 0px; PADDING-LEFT: 55px; FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND: url(../images/label1.gif) no-repeat 35px 10px; PADDING-BOTTOM: 0px; COLOR: #fa0404; PADDING-TOP: 12px; HEIGHT: 30px
}
.enter_part .enter_in .center .change {
	BACKGROUND: url(../images/label1_2.gif) no-repeat 35px 10px; COLOR: #f3781d
}
.main {
	BORDER-TOP: #afaba8 1px dashed; MARGIN-LEFT: 15px; WIDTH: 250px; BORDER-BOTTOM: #afaba8 1px dashed; HEIGHT: 205px
}
.main_change {
	BORDER-TOP-STYLE: none; PADDING-TOP: 25px; HEIGHT: 215px
}
.main H3 {
	FONT-SIZE: 14px; PADDING-TOP: 18px; HEIGHT: 40px
}
.main UL {
	LIST-STYLE-TYPE: none
}
.main UL LI {
	PADDING-BOTTOM: 5px; HEIGHT: 25px
}
.main UL LI SPAN {
	FLOAT: left; PADDING-TOP: 5px
}
.main UL LI .blank {
	PADDING-LEFT: 66px
}
.main UL LI .textbox {
	BORDER-RIGHT: #a5acb2 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #a5acb2 1px solid; PADDING-LEFT: 1px; FLOAT: left; PADDING-BOTTOM: 0px; BORDER-LEFT: #a5acb2 1px solid; WIDTH: 129px; PADDING-TOP: 3px; BORDER-BOTTOM: #a5acb2 1px solid; HEIGHT: 17px
}
.main UL LI .checkbox {
	FLOAT: left; MARGIN-LEFT: 100px; WIDTH: 20px; MARGIN-RIGHT: 5px; HEIGHT: 20px
}
.main UL LI .button_enter {
	FONT-WEIGHT: bold; FLOAT: left; MARGIN: 0px 5px 0px 100px; WIDTH: 75px; PADDING-TOP: 2px; HEIGHT: 22px
}
.user_new {
	PADDING-RIGHT: 0px; PADDING-LEFT: 15px; FONT-WEIGHT: bold; FONT-SIZE: 14px; PADDING-BOTTOM: 0px; WIDTH: 245px; PADDING-TOP: 15px; HEIGHT: 53px
}
.user_new .set_up {
	FONT-SIZE: 12px; PADDING-TOP: 18px; TEXT-ALIGN: right
}
.empty_box_both {
	CLEAR: both; OVERFLOW: hidden; HEIGHT: 1px
}
.login_help {
	WIDTH: 982px; PADDING-TOP: 18px; BORDER-BOTTOM: #c2d2e2 1px solid; HEIGHT: 28px
}
.help_content {
	PADDING-RIGHT: 15px; PADDING-LEFT: 15px; PADDING-BOTTOM: 15px; WIDTH: 952px; PADDING-TOP: 15px
}
.help_content .content_l {
	PADDING-RIGHT: 0px; PADDING-LEFT: 25px; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 450px; PADDING-TOP: 110px; HEIGHT: 80px
}
.help_content .content_l .label {
	FLOAT: left; OVERFLOW: hidden; WIDTH: 13px; MARGIN-RIGHT: 5px; HEIGHT: 13px; BACKGROUND-COLOR: #5882b1
}
.help_content .content_l P {
	FONT-WEIGHT: bold; FONT-SIZE: 14px
}
.help_content .content_l2 {
	FLOAT: left; WIDTH: 470px; PADDING-TOP: 60px
}
.help_content .change_h1 {
	PADDING-TOP: 30px
}
.help_content .change_h2 {
	PADDING-TOP: 50px
}
.help_content .change_h3 {
	PADDING-TOP: 5px
}
.help_content .content_l2 .number {
	PADDING-RIGHT: 10px; FLOAT: left; WIDTH: 30px; HEIGHT: 90px
}
.help_content .content_l2 .add_n_h {
	HEIGHT: 260px
}
.help_content .content_l2 .p_content {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; LINE-HEIGHT: 20px
}
.help_content .content_l2 .change_content {
	LINE-HEIGHT: 15px
}
.help_content .content_l2 .title_p {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #ff3300; PADDING-TOP: 5px
}
.help_content .content_l2 .content_p {
	FONT-WEIGHT: normal; FONT-SIZE: 12px
}
.help_content .c_yellow {
	FONT-WEIGHT: normal; COLOR: #0041d5
}
.help_content .c_red {
	FONT-WEIGHT: normal; COLOR: #e60011
}
.help_content .p_add_top {
	PADDING-TOP: 6px
}
.help_content .content_r {
	FLOAT: right; WIDTH: 457px
}
.question_answer_outside {
	PADDING-RIGHT: 0px; BORDER-TOP: #c2d2e2 1px solid; MARGIN-TOP: 15px; PADDING-LEFT: 0px; PADDING-BOTTOM: 70px; WIDTH: 982px; PADDING-TOP: 35px
}
.question_answer {
	BACKGROUND: url(../images/answer_bottom.gif) no-repeat 50% bottom; PADDING-BOTTOM: 7px; MARGIN: auto; WIDTH: 851px
}
.question_answer .answer_title {
	BACKGROUND: url(../images/answer_top_c.gif) repeat-x; HEIGHT: 26px
}
.question_answer .answer_title .t_l_bj {
	BACKGROUND: url(../images/answer_top_l.gif) no-repeat; FLOAT: left; WIDTH: 7px; HEIGHT: 26px
}
.question_answer .answer_title H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 8px; FONT-WEIGHT: normal; FONT-SIZE: 14px; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 7px
}
.question_answer .answer_title .bold {
	FONT-WEIGHT: bold
}
.question_answer .answer_title .t_r_bj {
	BACKGROUND: url(../images/answer_top_r.gif) no-repeat; FLOAT: right; WIDTH: 5px; HEIGHT: 26px
}
.question_answer .answer_c {
	BORDER-RIGHT: #7ca2c4 1px solid; PADDING-RIGHT: 15px; PADDING-LEFT: 30px; PADDING-BOTTOM: 0px; MARGIN-LEFT: 1px; BORDER-LEFT: #7ca2c4 1px solid; WIDTH: 803px; PADDING-TOP: 15px
}
.question_answer .answer_c H3 {
	PADDING-LEFT: 18px; FONT-SIZE: 14px; BACKGROUND: url(../images/label_q.gif) no-repeat left top; HEIGHT: 22px
}
.question_answer .q_answer {
	PADDING-RIGHT: 0px; PADDING-LEFT: 18px; FONT-SIZE: 14px; BACKGROUND: url(../images/label_a.gif) no-repeat left top; PADDING-BOTTOM: 15px; PADDING-TOP: 0px
}
.question_answer .q_answer P {
	PADDING-BOTTOM: 8px
}
.email_explain {
	PADDING-RIGHT: 125px; PADDING-LEFT: 145px; PADDING-BOTTOM: 15px; WIDTH: 712px; PADDING-TOP: 28px; BACKGROUND-COLOR: #f1f8ff
}
.email_explain H2 {
	PADDING-LEFT: 20px; FONT-SIZE: 14px; BACKGROUND: url(../images/label_q2.gif) no-repeat left top; HEIGHT: 20px
}
.email_explain .explain_a {
	PADDING-RIGHT: 0px; PADDING-LEFT: 20px; PADDING-BOTTOM: 20px; LINE-HEIGHT: 20px; PADDING-TOP: 8px
}
.email_explain UL {
	PADDING-LEFT: 40px; PADDING-TOP: 5px; LIST-STYLE-TYPE: square
}
.email_explain .c_yellow {
	COLOR: #0041d5
}
