BODY {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 12px; BACKGROUND: #fff; PADDING-BOTTOM: 0px; MARGIN: auto; COLOR: #414141; LINE-HEIGHT: 12px; PADDING-TOP: 0px; FONT-FAMILY: "ו", Arial, Helvetica, sans-serif
}
.public_navi {
	PADDING-BOTTOM: 4px; LINE-HEIGHT: 16px; PADDING-TOP: 10px; HEIGHT: 54px; TEXT-ALIGN: left; Width:100%
}
.public_navi A:link {
	COLOR: #0041d3; TEXT-DECORATION: none
}
.public_navi A:visited {
	COLOR: #0041d3; TEXT-DECORATION: none
}
.public_navi A:hover {
	COLOR: #ff7000; TEXT-DECORATION: underline
}
.public_navi A:active {
	COLOR: #bc2931; TEXT-DECORATION: underline
}
.public_navi * {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.public_navi IMG {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: -px; BORDER-BOTTOM: 0px
}
.public_navi .logo {
	FLOAT: left; WIDTH: 159px; MARGIN-RIGHT: -3px; HEIGHT: 40px; BACKGROUND-COLOR: #fff; TEXT-ALIGN: center
}
.public_navi .newyear_img {
	WIDTH: 982px; HEIGHT: 34px
}
.public_navi .navi_part {
	HEIGHT: 54px
}
.public_navi .navi_part .part_top {
	HEIGHT: 31px
}
.public_navi .navi_part .part_top .n_main {
	FLOAT: left; LIST-STYLE-TYPE: none; HEIGHT: 31px
}
.public_navi .navi_part .part_top .n_main LI {
	FONT-SIZE: 14px; BACKGROUND: url(../images/navi_m_1.gif) no-repeat; FLOAT: left; WIDTH: 75px; HEIGHT: 31px; TEXT-ALIGN: center
}
.public_navi .navi_part .part_top .n_main LI A {
	DISPLAY: block; FONT-SIZE: 14px; WIDTH: 75px; PADDING-TOP: 10px; HEIGHT: 21px
}
.public_navi .navi_part .part_top .n_main LI A:link {
	FONT-SIZE: 14px; WIDTH: 75px; COLOR: #fff; PADDING-TOP: 10px; HEIGHT: 21px; TEXT-DECORATION: none
}
.public_navi .navi_part .part_top .n_main LI A:visited {
	WIDTH: 75px; COLOR: #fff; PADDING-TOP: 10px; HEIGHT: 21px; TEXT-DECORATION: none
}
.public_navi .navi_part .part_top .n_main LI A:hover {
	BACKGROUND: url(../images/navi_m_2.gif) no-repeat; WIDTH: 75px; COLOR: #fff; PADDING-TOP: 10px; HEIGHT: 31px
}
.public_navi .navi_part .part_top .n_main LI A:active {
	WIDTH: 75px; COLOR: #fff; PADDING-TOP: 10px; HEIGHT: 21px; TEXT-DECORATION: none
}
.public_navi .navi_part .part_top .n_main .new_left {
	BACKGROUND: url(../images/navi_newleft_1.gif) no-repeat; MARGIN-LEFT: 5px
}
.public_navi .navi_part .part_top .n_main .new_left A:hover {
	BACKGROUND: url(../images/navi_newleft_2.gif) no-repeat
}
.public_navi .navi_part .part_top .n_main .new_middle {
	BACKGROUND: url(../images/navi_newmiddle_1.gif) no-repeat
}
.public_navi .navi_part .part_top .n_main .new_middle A:hover {
	BACKGROUND: url(../images/navi_newmiddle_2.gif) no-repeat
}
.public_navi .navi_part .part_top .n_main .new_right {
	BACKGROUND: url(../images/navi_newright_1.gif) no-repeat
}
.public_navi .navi_part .part_top .n_main .new_right A:hover {
	BACKGROUND: url(../images/navi_newright_2.gif) no-repeat
}
.public_navi .navi_part .part_top .n_main .m_left {
	BACKGROUND: url(../images/navi_l_1.jpg) no-repeat
}
.public_navi .navi_part .part_top .n_main .m_left A:hover {
	BACKGROUND: url(../images/navi_l_2.jpg) no-repeat
}
.public_navi .navi_part .part_top .n_main .m_right {
	BACKGROUND: url(../images/navi_r_1.jpg) no-repeat
}
.public_navi .navi_part .part_top .n_main .m_right A:hover {
	BACKGROUND: url(../images/navi_r_2.jpg) no-repeat
}
.public_navi .navi_part .part_top .n_main .navi_gray {
	BACKGROUND: url(../images/navi_gray.jpg) no-repeat; PADDING-TOP: 10px
}
.public_navi .navi_part .part_top .n_help {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 15px; BACKGROUND: url(../images/p_gwc.gif) no-repeat 0px 10px; FLOAT: right; PADDING-BOTTOM: 0px; PADDING-TOP: 10px; LIST-STYLE-TYPE: none; HEIGHT: 15px
}
.public_navi .navi_part .part_top .n_help LI {
	PADDING-RIGHT: 6px; DISPLAY: block; PADDING-LEFT: 10px; BACKGROUND: url(../images/bj_line.gif) no-repeat right 2px; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 2px; HEIGHT: 12px
}
.public_navi .navi_part .part_top .n_help .help_r {
	PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%
}
.public_navi .navi_part .n_main2 {
	BACKGROUND: url(../images/navi2_right.gif) #eaeaea no-repeat right 50%; LIST-STYLE-TYPE: none; HEIGHT: 23px
}
.public_navi .navi_part .n_main2 LI {
	PADDING-RIGHT: 12px; DISPLAY: block; PADDING-LEFT: 12px; BACKGROUND: url(../images/bj_line.gif) no-repeat right 6px; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 6px; HEIGHT: 12px
}
.public_navi .navi_part .n_main2 .navi2_left {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../images/navi2_left.gif) no-repeat left 50%; PADDING-BOTTOM: 0px; WIDTH: 39px; PADDING-TOP: 0px; HEIGHT: 23px
}
.public_navi .navi_part .n_main2 .navi2_right {
	PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%
}
.public_navi .navi_part .n_main2 A:link {
	COLOR: #414141; TEXT-DECORATION: none
}
.public_navi .navi_part .n_main2 A:visited {
	COLOR: #414141; TEXT-DECORATION: none
}
.public_navi .navi_part .n_main2 A:hover {
	COLOR: #ff7000; TEXT-DECORATION: underline
}
.public_navi .navi_part .n_main2 A:active {
	COLOR: #bc2931; TEXT-DECORATION: underline
}
.public_navi .li_nobg {
	BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: left; MARGIN: 5px 0px 0px 3px; OVERFLOW: hidden; WIDTH: 141px; HEIGHT: 26px
}
.public_navi .newbeta_book {
	MARGIN-TOP: 3px; DISPLAY: block; FONT-SIZE: 12px; BACKGROUND: url(../images/book_beta_bg_book.gif) no-repeat; FLOAT: left; WIDTH: 93px; LINE-HEIGHT: 23px; HEIGHT: 23px; TEXT-ALIGN: center
}
.public_navi .newbeta_book A:link {
	COLOR: #fff; TEXT-DECORATION: none
}
.public_navi .newbeta_book A:visited {
	COLOR: #fff; TEXT-DECORATION: none
}
.public_navi .newbeta_book A:hover {
	COLOR: #fff; TEXT-DECORATION: underline
}
.public_navi .newbeta_book A:active {
	COLOR: #fff; TEXT-DECORATION: underline
}
.public_search {
	FONT-SIZE: 12px; BACKGROUND: url(../images/search_m.gif) repeat-x; WIDTH: 100%; BORDER-COLLAPSE: collapse; HEIGHT: 71px
}
.public_search A:link {
	COLOR: #0041d3; TEXT-DECORATION: none
}
.public_search A:visited {
	COLOR: #0041d3; TEXT-DECORATION: none
}
.public_search A:hover {
	COLOR: #ff7000; TEXT-DECORATION: underline
}
.public_search A:active {
	COLOR: #bc2931; TEXT-DECORATION: underline
}
.public_search INPUT {
	FONT-SIZE: 12px; VERTICAL-ALIGN: middle
}
.public_search * {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.public_search IMG {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
.public_search TD {
	FONT-SIZE: 12px
}
.public_search .search_left {
	BACKGROUND: url(../images/search_l.gif) no-repeat; WIDTH: 6px
}
.public_search .search_middle {
	WIDTH: 100%; BORDER-COLLAPSE: collapse; HEIGHT: 71px
}
.public_search .search_middle .search_m_top {
	WIDTH: 100%; BORDER-COLLAPSE: collapse; HEIGHT: 23px
}
.public_search .search_middle .search_m_top .choice_sort {
	WIDTH: 418px; PADDING-TOP: 10px; HEIGHT: 23px
}
.public_search .search_middle .search_m_top .choice_sort H2 {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; FLOAT: left; COLOR: #848484; PADDING-TOP: 4px
}
.public_search .search_middle .search_m_top .choice_sort UL {
	FLOAT: left
}
.public_search .search_middle .search_m_top .choice_sort UL LI {
	DISPLAY: block; FLOAT: left; WIDTH: 39px; PADDING-TOP: 4px; LIST-STYLE-TYPE: none; HEIGHT: 22px; TEXT-ALIGN: center
}
.public_search .search_middle .search_m_top .choice_sort UL .sort {
	WIDTH: 57px; MARGIN-RIGHT: 5px
}
.public_search .search_middle .search_m_top .choice_sort UL .add_bj {
	BACKGROUND: url(../images/search_style1.gif) no-repeat
}
.public_search .search_middle .search_m_top .choice_sort UL .add_bj_2 {
	BACKGROUND: url(../images/search_style2.gif) no-repeat
}
.public_search .search_middle .search_m_top .search_word {
	WIDTH: 429px; PADDING-TOP: 10px; HEIGHT: 20px
}
.public_search .search_middle .search_m_top .search_word H2 {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; FLOAT: left
}
.public_search .search_middle .search_m_top .search_word UL {
	FLOAT: left; LIST-STYLE-TYPE: none
}
.public_search .search_middle .search_m_top .search_word UL LI {
	PADDING-RIGHT: 9px; DISPLAY: block; PADDING-LEFT: 8px; BACKGROUND: url(../images/bj_line.gif) no-repeat right top; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; HEIGHT: 12px
}
.public_search .search_middle .search_m_top .search_word UL .word_right {
	PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%
}
.public_search .search_middle .search_main {
	WIDTH: 940px; HEIGHT: 50px
}
.public_search .search_middle .search_main .main_left {
	PADDING-RIGHT: 15px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 838px; PADDING-TOP: 8px; HEIGHT: 21px
}
.public_search .search_middle .search_main .main_left H1 {
	PADDING-RIGHT: 10px; FONT-SIZE: 14px; FLOAT: left; PADDING-TOP: 3px
}
.public_search .search_middle .search_main .main_left .search_text {
	PADDING-RIGHT: 0px; PADDING-LEFT: 2px; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 638px; PADDING-TOP: 2px; HEIGHT: 20px
}
.public_search .search_middle .search_main .main_left .reduce_w {
	WIDTH:480px
}
.public_search .search_middle .search_main .main_left .reduce_w2 {
	WIDTH: 438px
}
.public_search .search_middle .search_main .main_left UL {
	DISPLAY: block; FLOAT: left; PADDING-TOP: 4px; LIST-STYLE-TYPE: none
}
.public_search .search_middle .search_main .main_left UL LI {
	FLOAT: left; MARGIN-LEFT: 8px
}
.public_search .search_middle .search_main .main_left UL LI INPUT {
	WIDTH: 13px; HEIGHT: 13px
}
.public_search .search_middle .search_main .main_left UL LI SPAN {
	CURSOR: default
}
.public_search .search_middle .search_main .main_left UL .reduce_l_w {
	MARGIN-LEFT: 3px
}
.public_search .search_middle .search_main .main_left .search_button {
	FLOAT: right; MARGIN-LEFT: 8px; WIDTH: 101px; PADDING-TOP: 1px; HEIGHT: 22px
}
.public_search .search_middle .search_main .main_left .search_button2 {
	FLOAT: right; MARGIN-LEFT: 8px; WIDTH: 101px; PADDING-TOP: 1px; HEIGHT: 22px
}
.public_search .search_middle .search_main .main_right {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; BACKGROUND: url(../images/search_bj.gif) no-repeat left 6px; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 65px; PADDING-TOP: 12px; HEIGHT: 30px
}
.public_search .search_right {
	BACKGROUND: url(../images/search_m.gif) no-repeat; WIDTH: 6px
}
.public_top_window {
	BORDER-RIGHT: #b39f86 1px solid; PADDING-RIGHT: 28px; BORDER-TOP: #b39f86 1px solid; PADDING-LEFT: 28px; PADDING-BOTTOM: 3px; BORDER-LEFT: #b39f86 1px solid; WIDTH: 608px; PADDING-TOP: 3px; BORDER-BOTTOM: #b39f86 1px solid; HEIGHT: 154px; BACKGROUND-COLOR: #fff
}
.public_top_window A:link {
	COLOR: #0041d3; TEXT-DECORATION: none
}
.public_top_window A:visited {
	COLOR: #0041d3; TEXT-DECORATION: none
}
.public_top_window A:hover {
	COLOR: #ff7000; TEXT-DECORATION: underline
}
.public_top_window A:active {
	COLOR: #bc2931; TEXT-DECORATION: underline
}
.public_top_window * {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.public_top_window UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 10px; WIDTH: 608px; PADDING-TOP: 10px; BORDER-BOTTOM: #d1cfd0 1px dotted; LIST-STYLE-TYPE: none
}
.public_top_window UL LI {
	DISPLAY: block; FLOAT: left; WIDTH: 66px; LINE-HEIGHT: 20px
}
.public_top_window UL H2 {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; FLOAT: left; WIDTH: 52px; MARGIN-RIGHT: 14px; PADDING-TOP: 3px; HEIGHT: 16px; BACKGROUND-COLOR: #f6791f; TEXT-ALIGN: center
}
.public_top_window UL H2 A:link {
	COLOR: #fff; TEXT-DECORATION: none
}
.public_top_window UL H2 A:visited {
	COLOR: #fff; TEXT-DECORATION: none
}
.public_top_window UL H2 A:hover {
	COLOR: #fff; TEXT-DECORATION: underline
}
.public_top_window UL .h_bj {
	BACKGROUND-COLOR: #00a881
}
.public_top_window UL .reduce_w {
	WIDTH: 66px
}
.public_top_window UL .reduce1_w {
	WIDTH: 28px
}
.public_top_window UL .reduce_w2 {
	WIDTH: 40px
}
.public_top_window .reduce_h {
	PADDING-BOTTOM: 5px; HEIGHT: 20px
}
.public_top_window .reduce_h3 {
	PADDING-BOTTOM: 5px; HEIGHT: 35px
}
.public_top_window .reduce_h2 {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; PADDING-BOTTOM: 10px; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none; HEIGHT: 35px
}
